body{
background-color: rgb(16, 16, 83);
}
.timer{
    color: white;
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 10px solid black;
    background-color: black;
    padding: 20px;
    border-radius: 200px;
    width: 200px;
    height: 200px;
    text-align: center;  


}
.diplay{
    font-size: 40px;
    margin-bottom: 10px;
}button{
    margin: 10px;
}
#start{
    background-color: green;
    color: white;
    border: none;
    border-radius:20px ;
    width: 80px;
    height: 30px;

}
#stop{
    background-color: red;
    color: white;
    border: none;
    border-radius:20px ;
    width: 80px;
    height: 30px;

}
#reset{
    background-color: rgb(217, 110, 60);
    color: white;
    border: none;
    border-radius:20px ;
    width: 80px;
    height: 30px;

}
button{
    gap:400px;
}